@using E_Learning.Areas.Authentication.Models
@model ResetPasswordRequest
<div class="body">
    <div class="cofirm-container">
        <h2>Reset Password</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="ConfirmEmail" asp-controller="Account" asp-area="Authentication" method="post">
            <div>
                <label asp-for="Email">Email Address</label>
                <input class="form-control" type="text" asp-for="Email" required>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div >
                <label asp-for="Code">Reset Password Code</label>
                <input class="form-control" type="text" asp-for="Code" required placeholder="Enter code you received at email">
                <span class="text-danger" asp-validation-for="Code"></span>
            </div>
            <div >
                <label asp-for="Password"></label>
                <input class="form-control" type="password" asp-for="Password" required>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div >
                <label asp-for="ConfirmPassword"></label>
                <input class="form-control" type="password" asp-for="ConfirmPassword" required>
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>

            <button type="submit" class="submit-btn" asp-action="CompleteResetPassword" asp-controller="Account" asp-area="Authentication">Confirm</button>
        </form>
        <div>
            <p>Didn't Received Email <a asp-action="ResendResetPasswordEmail" asp-controller="Account" asp-area="Authentication" class="resend-link">Resend Email</a></p>
        </div>
    </div>
</div>
<style>
    .body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
            }
            .confirm-container {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
        }
        h2 {
            text-align: center;
            margin-bottom: 20px;
            margin-top:10px;
        }
       
         .submit-btn {
            text-align:center;
            margin:20px;
            width:300px;
            padding: 15px;
            font-size: 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .submit-btn:hover {
            background-color: #218838;
        }

        .resend-link{
        color: #007bff;
        }
        .resend-link:hover{
            text-decoration: underline;
        }
</style>

