@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using E_Learning.Areas.Course.Models

@model CourseView

@* @{
    Layout = null;
} *@



<header class="header" >
    <section class="hero-section">
        <div class="hero-mask">
        </div><!--//hero-mask-->
        <div class="container text-center py-5">
            <div class="single-col-max mx-auto">
                <div class="hero-heading-upper pt-3 mb-3">Promote Your Online Course <br class="d-md-none">Like A Pro</div>
                <h1 class="hero-heading mb-5">
                    <span class="brand mb-4 d-block"><span class="text-highlight pr-2">{</span><span class="name">@Model.SubCategoryName</span><span class="text-highlight pl-2">}</span></span>
                    <span class="desc d-block">@Model.Title</span>
                </h1>
                <div class="text-center mb-5">
                    <a href="#section-pricing" class="btn btn-primary btn-lg scrollto">Start Learning Now</a>
                </div>

                <div class="hero-summary">
                    <div class="row">
                        <div class="item col-4">
                            <div class="summary-desc mb-1"><i class="icon fas fa-video me-2"></i>Content</div>
                            <h4 class="summary-heading"> @ViewBag.NumberOfLessons+ <span class="desc">Video</span></h4>

                        </div><!--//col-->
                        <div class="item col-4">
                            <div class="summary-desc mb-1"><i class="icon fas fa-clock me-2"></i>Duration</div>
                            <h4 class="summary-heading">@Model.totalHours <span class="desc">Hours</span></h4>

                        </div><!--//col-->
                        <div class="item col-4">
                            <div class="summary-desc mb-1"><i class="icon fas fa-user-circle me-2"></i>Access</div>
                            <h4 class="summary-heading">Lifetime</h4>

                        </div><!--//col-->
                    </div><!--//row-->
                </div><!--//hero-summary-->
            </div><!--//single-col-max-->
        </div><!--//container-->

    </section><!--//hero-section-->
</header><!--//header-->
