@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.bundle.scp.css';

/* _content/E_Learning/Areas/Admin/Views/Shared/_AdminLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-chw9g9epd7] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-chw9g9epd7] {
  color: #0077cc;
}

.btn-primary[b-chw9g9epd7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-chw9g9epd7], .nav-pills .show > .nav-link[b-chw9g9epd7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-chw9g9epd7] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-chw9g9epd7] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-chw9g9epd7] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-chw9g9epd7] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-chw9g9epd7] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/E_Learning/Areas/Authentication/Views/Shared/_AuthonticationLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-hkuow42799] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-hkuow42799] {
  color: #0077cc;
}

.btn-primary[b-hkuow42799] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-hkuow42799], .nav-pills .show > .nav-link[b-hkuow42799] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-hkuow42799] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-hkuow42799] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-hkuow42799] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-hkuow42799] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-hkuow42799] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/E_Learning/Areas/Payment/Views/Shared/_PaymentLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-dq171arxpe] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-dq171arxpe] {
  color: #0077cc;
}

.btn-primary[b-dq171arxpe] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-dq171arxpe], .nav-pills .show > .nav-link[b-dq171arxpe] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-dq171arxpe] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-dq171arxpe] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-dq171arxpe] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-dq171arxpe] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-dq171arxpe] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/E_Learning/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-7z7h1ilnbc] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-7z7h1ilnbc] {
  color: #0077cc;
}

.btn-primary[b-7z7h1ilnbc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-7z7h1ilnbc], .nav-pills .show > .nav-link[b-7z7h1ilnbc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-7z7h1ilnbc] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-7z7h1ilnbc] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-7z7h1ilnbc] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-7z7h1ilnbc] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-7z7h1ilnbc] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
